<div class="card">
    <div class="card-header">
      {{pageTitle}}
    </div>
    <div class="card-body">
      <div class="container-fluid">
        <div class="text-center">
          <img src="./assets/images/logo-bpce-vbanking.JPG"
               class="img-responsive center-block"
               style="max-height:300px;padding-bottom:50px" />
        </div>
  
        <div class="text-center">Developed by:</div>
        <div class="text-center">
          <h3>Hassine ALLAYA</h3>
          <h3>Andrea VULETIC</h3>
          <h3>Ismael SAI</h3>
          <h3>Mohamed Nassim OUERDANE</h3>
          <h3>Alexandre LARZILLIERE</h3>
        </div>
  
        <div class="text-center">
          <a href="https://www.linkedin.com/company/capgemini/mycompany/">www.linkedin.com/company/capgemini/mycompany/</a>
        </div>
      </div>
    </div>
  </div>  