<div class='card'>
    <div class='card-header'>
        {{pageTitle}}
    </div>
    <div class='card-body'>
        <div class='table-responsive'>
            <table class='table'>
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Type</th>
                        <th>Label</th>
                        <th>Description</th>
                        <th>Montant</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor='let transaction of transactions'>
                        <td>{{ transaction.transactionDate }}</td> 
                        <td> 
                            <img [src]='transaction.transactionType' alt="transaction type"> 
                        </td> 
                        <td>{{ transaction.transactionLabel }}</td> 
                        <td>{{ transaction.transactionDescription }}</td> 
                        <td>{{ transaction.transactionValue }}</td> 
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>